PORT=8181

DB_NAME=newdb
DB_HOST=localhost
DB_USERNAME=sa
DB_PASSWORD=12345
DB_DIALECT=mssql

JWT_SECRET=secret
JWT_EXPIRES_IN=1d
NODE_ENV=development

# Esewa Payment Credentials
ESEWA_MERCHANT_CODE=EPAYTEST
ESEWA_SECRET=8gBm/:&EnhH.1/q

# Khalti Payment Credentials Live secret key
KHALTI_SECRET_KEY=